@import url('https://fonts.googleapis.com/css2?family=Lato&family=Quicksand&display=swap');
*{
  font-family: 'Lato', sans-serif;
  margin: 0;
}
html{
  scroll-behavior: smooth;
  transition: .3s ease-in-out;
}
